div.campos-rock{
    padding-left: 8vw;
    width:40vw;
}
h3.esp-R{
    padding-bottom: 50px;
    padding-top: 50px;
}
.hide-password {
    display: none
  }
.space{
      margin-bottom:15px; 
  }
.btn-rock{
    background: black;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    width: 31vw;
    background-color: rgba(15, 15, 17, 0.7)
}  
.bg{
    background-image: url('../images/fondo.jpg');
    background-size: 100vw;
    padding-bottom: 34.5vh;
}
.pas-olv{
    padding-top: 20px;
}
.link{
    color:gray;
}